一.世界杯小组赛分组抽签规则
1.分档
2.抽签
根据国际足联公布的抽签规则，抽签分五步进行：
第一步，第四档中的一支球队被抽入第二档中，使得四个分档中均有8支球队。
第二步，东道主巴西队被放入A组，其余的7支第一档球队依次被抽入B至H组。
第三步，一档中南美四队放入一个X罐中，从中抽入一队，这个队将和之前从四档中的抽出的欧洲队同组。这样做的原因，是遵循同洲球队不同组原则，避免一个小组内有三支欧洲球队。
第四步，依次抽出二档球队进入A-H组剩余的7个位置位置，同样的原则南美两支球队智利和厄瓜多尔不能和一档中四支南美球队分在一起。
第五步，第三档和第四档将会被依次抽出。

二.小组赛赛程安排
1.东道主第一场
2.小组内两两比赛，每个小组6场，共48场，每天安排4场比赛，共12天
3.共有12个球场，每个球场4场比赛，每个小组6场比赛场地不重复
4.每队不可连续两天比赛
计划算法：
a.对48场比赛编号，参考2014年编号法，每个小组内六场比赛分为3个部分，每部分的两场比赛互不冲突且编号连续，如A组中分为3个部分为（A12，A34）,(A13，A24),(A14，A23),比赛编号将依次为1,2,17,18,33,34，其他类似。
b.为使每个球场使用4次，将抽签过程分为4轮，以第1轮为例
c.按照编号1-12依次为该比赛抽对应且不重复球场，1-4场在第一天，5-8场在第二天，9-12场在第三天,其中每天四场比赛分别为18时、21时、0时、3时（北京时间）。

三.模拟小组赛赛程
1.模拟每场比赛，模拟过程同示例：
  a.显示对战两队的球队队员及位置
  b.比赛进球时显示进球队伍、进球球员、比分
  c.显示比赛结果，统计输赢情况、球队/球员进球数、净胜球、积分并保存
2.显示第一阶段比赛结果
  a.GF代表总入球 GD代表总净胜球 GA代表总失球 PTS代表总积分
3.


