一.世界杯小组赛分组抽签规则
/*http://www.fifa.com/worldcup/preliminaries/statistics/index.html  进球率
1.分档（2014按照地区分档，2018年按照世界排名分档）
/*
  http://www.fifa.com/fifa-world-ranking/ranking-table/men/index.html  国际足联排名
  为使同洲不同组，四个pot仍按地区分组
  pot1：俄罗斯65(东道主) 德国1 巴西2 葡萄牙3 阿根廷4 比利时5 波兰6 法国7
  pot2：亚洲（4）及中北美与加勒比海区（4）
  pot3：非洲（5）及南美剩余球队（3）
  pot4：欧洲剩余八只球队
*/
2.抽签（2014）
根据国际足联公布的抽签规则，抽签分五步进行：
第一步，第四档中的一支球队被抽入第二档中，使得四个分档中均有8支球队。
第二步，东道主巴西队被放入A组，其余的7支第一档球队依次被抽入B至H组。
第三步，一档中南美四队放入一个X罐中，从中抽入一队，这个队将和之前从四档中的抽出的欧洲队同组。这样做的原因，是遵循同洲球队不同组原则，避免一个小组内有三支欧洲球队。
第四步，依次抽出二档球队进入A-H组剩余的7个位置位置，同样的原则南美两支球队智利和厄瓜多尔不能和一档中四支南美球队分在一起。
第五步，第三档和第四档将会被依次抽出。
  抽签（2018）预测
第一步，东道主俄罗斯队被放入A组，其余的7支第一档球队依次被抽入B至H组。
第二步，依次抽出二档球队进入A-H组剩余的7个位置位置，同样的原则pot2中南美剩余三只球队不能和一档中两支南美球队分在一起。
第三步，第三档和第四档将会被依次抽出。

二.小组赛赛程安排
1.东道主第一场
2.小组内两两比赛，每个小组6场，共48场，每天安排4场比赛，共12天
3.共有12个球场，每个球场4场比赛，每个小组6场比赛场地不重复
4.每队不可连续两天比赛
计划算法：
a.对48场比赛编号，参考2014年编号法，每个小组内六场比赛分为3个部分，每部分的两场比赛互不冲突且编号连续，如A组中分为3个部分为（A12，A34）,(A13，A24),(A14，A23),比赛编号将依次为1,2,17,18,33,34，其他类似。
b.为使每个球场使用4次，将抽签过程分为4轮，以第1轮为例
c.按照编号1-12依次为该比赛抽对应且不重复球场，1-4场在第一天，5-8场在第二天，9-12场在第三天,其中每天四场比赛分别为18时、21时、0时、3时（北京时间）。

三.模拟小组赛比赛情况
1.模拟每场比赛，模拟过程同示例：
  a.显示对战两队的球队队员及位置
  b.比赛进球时显示进球队伍、进球球员、比分
  c.显示比赛结果，统计输赢情况、球队/球员进球数、净胜球、积分并保存
2.显示第一阶段比赛结果
  a.GF代表总入球 GD代表总净胜球 GA代表总失球 PTS代表总积分
3.根据2统计晋级队伍，规则如下：
a、积分高者排名靠前
b、小组中总净胜球高者排名靠前
c、小组中总进球数高者排名靠前
如果按照以上规则仍有两支或两支以上的球队并列，则按以下顺序依次比较以确定排名先后：
（除去并列球队以外的所有球队，仅在并列球队之间进行如下规则。）
d、比较并列的几队之间相互比赛的净胜球多少。如果仍然相等，则：
e、比较并列几队之间相互比赛的得分高低（也就是两队之间的胜负关系）胜利者排名靠前，如果出现相互制约（即A胜B，B胜C，C胜A），则：
f、比较并列的几队之间相互比赛的总进球数多少。如果仍然相等，则：
g、由世界杯组委会采取公平的方式决定那支球队晋级（例如：附加赛，抽签等）。
每个小组前两名球队出线，进入淘汰赛阶段。
4.显示进入下一阶段球队信息

四.模拟八分之一决赛
 1.赛程安排
  a.共八场比赛，分别为A1 VS B2 -> WA,  C1 VS D2 -> WC, A2 VS B1 -> WB, C2 VS D1 -> WD ...
  b.按上述顺序编号为49-56，分为4天，每天2场
  c.4天比赛安排：day1（49,50） day2（51,52）....
 2.模拟比赛情况，类似小组赛
 
五.模拟四分之一决赛
 1.赛程安排
  a.共四场比赛，分别为WA VS WC -> W1, WE VS WG -> W3, WB VS WD -> W2, WF VS WH -> W4
  b.按上述顺序编号为57-60，分为2天，每天2场
  c.2天比赛安排：day1（57,58） day2（59,60）
 2.模拟比赛情况，类似小组赛

六.模拟半决赛
 1.赛程安排
  a.共2场比赛，分别为W1 VS W3 -> C1 + T1, W2 VS W4 -> C2 + T2
  b.按上述顺序编号为61，62，分为2天，每天1场
  c.2天比赛安排：day1（61） day2（62）....
 2.模拟比赛情况，类似小组赛
 
七.模拟决赛
 1.赛程安排
  a.共2场比赛，分别为T1 VS T2 -> T + F, C1 VS C2 -> C + S
  b.按上述顺序编号为63，64，分为2天，每天1场
  c.2天比赛安排：day1（63） day2（64）....
 2.模拟比赛情况，类似小组赛

比赛规则参考：https://baike.baidu.com/item/%E4%B8%96%E7%95%8C%E6%9D%AF%E6%AF%94%E8%B5%9B%E8%A7%84%E5%88%99/5045702?fr=aladdin
